body, html {
  margin:0;
  padding:0;
  color:#000;
  font-family:Verdana,Arial;
}

#world {
  width:350;
  height:350;
  border:1px solid black;
}

#container {
  width:1000px;
  margin:0 auto;
}

#header {
  padding-top:20px;
  padding-bottom:20px;
  height:80px;
}

#header #title {
  font-size:350%;
  text-shadow: 3px 3px 3px #bbb;
  margin-left:-4px;
  margin-bottom:3px;
}

.hint {
  padding-top:0.3em;
  color:#aaa;
}

#header #title-after {
  text-shadow: 1px 1px 1px #bbb;
}

#loading {
  padding-left:20px;
  padding-top:6px;
}

#savepin {
  padding:6px;
  text-align:center;
  width:9em;
  margin-top:-1px;
  height:27px;
  font-weight: bold;
  margin-left:10px;
}

#nav {
  margin-top:20px;
  margin-bottom:30px;
  height:38px;
}

#main {
  float:left;
}

#slide, #single {
  width:650px;
}

#single {
  display:none;
}

#sidebar {
  float:right;
  width:340px;
  height:600px;
}

#map_holder {
  width:340px;
  height:340px;
}

#footer {
  clear:both;
  padding-top:3em;
}

#footer-line {
  background-color:#ddd;
  padding:0.5em;
}

.link {
  color:#0069D6;
  text-decoration:none;
}

#ph {
  width:650;
  height:600;
  border:1px solid black;
}

#control {
  width:600;
  height:80;
  border: 1px solid black;
}

#loc {
  margin-left:-1px;
  padding:5px;
  border: 2px solid black;
}

#status {
  margin-left: 1em;
}

.fleft {
  float:left;
}

.clear {
  clear:both;
  float:left;
}

#photoinfo {
  display:none;
}
